<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" sec:authorize="isAuthenticated()">
            <a class="nav-item nav-link active" th:href="@{/customers}">All Customers</a>
            <a class="nav-item nav-link active" th:href="@{/logout}">Logout</a>
        </div>
        <div class="navbar-nav" sec:authorize="isAnonymous()">
            <a class="nav-item nav-link active" th:href="@{/register}">Register</a>
            <a class="nav-item nav-link active" th:href="@{/login}">Login</a>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">Login as <span sec:authentication="name"></span></div>
</nav>

<div class="jumbotron text-center">
    <a href="/show-basket">
        <div>
            <img class="basket-image" src="/img/shopping_cart_icon.jpg" width="110" height="110" alt="" />
        </div>
    </a>
    <a href="/"><h1>Codecool Shop</h1></a>
</div>

<div id="product-modal" class="modal">
    <div class="modal-content">
        <p class="modal-text"></p>
        <button class="close btn-danger">Ok</button>
    </div>
</div>

<div class="container-fluid">
    <div class="text-center">
        <h1>List of Products</h1>
    </div>
    <div class="row m-1">
        <div class="col-sm-8">
            <th:block th:each="item, status: ${itemsList}">
                <div class="row border rounded">
                    <div class="col-1">
<!--                        <div>[[${status.count}]]</div>-->
                        <img class="delete-icon" src="http://placehold.it/400x250/000/fff"
                             th:attr="src='/img/trash_bin.jpg', data-product-id=${item.getProduct().getProductId()}"
                             width="20" height="25"/>
                    </div>
                    <div class="col-3">
                        <img src="http://placehold.it/400x250/000/fff"
                             th:attr="src='/img/product_' + ${item.getProduct().getProductId()} + '.jpg'"
                             width="140" height="90"/>
                    </div>
                    <div class="col-6">
                        <div>
                            <a>
                                <h5 th:text="${item.getProduct().getProductName()}">Product Name</h5>
                            </a>
                        </div>
                        <div>
                            <input type="number" th:value="${item.getQuantity()}" />
                            <span> * </span>
                            <span th:text="${item.getProduct().getDefaultPrice()}">Price</span>
                            <span>=</span>
                            <span class="h4 subtotal-amount" th:text="${item.getSubTotal()}">Subtotal</span>
                        </div>
                    </div>
                    <div class="row m-1 bread-crumbs">&nbsp;</div>
                </div>
            </th:block>
        </div>

        <div class="col-sm-4">
            <div>
                <span class="h3">Estimated total:</span>
            </div>
            <div class="mt-2">
                <span class="h2 total-amount">Total amount</span>
            </div>
            <div class="mt-2">
                <button class="btn btn-danger p-3 mt-2">Buy now</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/dataHandler.js"></script>
<script type="text/javascript" src="/js/basketData.js"></script>
<script type="text/javascript" src="/js/mainBasket.js"></script>

</body>
</html>