<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <style>
        body {background-image: url("https://cdn.eso.org/images/wallpaper4/eso0932a.jpg")}
    </style>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

</head>
<body>

<div class="jumbotron text-center">

    <h1>Codecool Shop</h1>

    <h3>Category</h3>
    <div class="btn-group" role="group" aria-label="Basic example" th:each="prod_cat: ${products_category}">
        <a class="btn btn-secondary" th:text="${prod_cat.getName()}"
           th:href="'/find-by-category/' + ${prod_cat.getId()}">Product Category</a>
    </div>

    <h3>Brand</h3>
    <div class="btn-group" role="group" aria-label="Basic example" th:each="supp: ${suppliers}">
        <a class="btn btn-secondary" th:text="${supp.getSupplier_name()}"
           th:href="'/find-by-supplier/' + ${supp.getSupplier_id()}">Supplier</a>
    </div>

</div>

<div class="container">
    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod: ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.getProductId()} + '.jpg'" alt="" />
                <div class="card-header">
                    <strong th:text="${prod.productCategory.getName()}">Category Title</strong>
                    <h4 class="card-title" th:text="${prod.getProductName()}">Product name</h4>
                    <p class="card-text" th:text="${prod.getDescription()}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getDefaultPrice()}">100 USD</p>
                        <p class="lead" th:text="${prod.getCurrency()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success" href="#" th:value="'product-id-' + ${prod.getProductId()}">Add to basket</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>