<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Login Page</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" sec:authorize="isAuthenticated()">
            <a class="nav-item nav-link active" th:href="@{/customers}">All Customers</a>
            <a class="nav-item nav-link active" th:href="@{/logout}">Logout</a>
        </div>
        <div class="navbar-nav" sec:authorize="isAnonymous()">
            <a class="nav-item nav-link active" th:href="@{/register}">Register</a>
            <a class="nav-item nav-link active" th:href="@{/login}">Login</a>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">Login as <span sec:authentication="name"></span></div>
</nav>

<div class="jumbotron text-center">
    <a href="/show-basket">
        <div>
            <img class="basket-image" src="/img/shopping_cart_icon.jpg" width="110" height="110" alt="" />
        </div>
    </a>
    <a href="/"><h1>Codecool Shop</h1></a>
</div>

<div class="container text-center">
    <div>
        <h1>Log in</h1>
    </div>
    <form th:action="@{/login}" method="post" style="max-width: 600px; margin: 0 auto;">
        <fieldset>
            <div class="m-3">
            <div th:if="${param.error}" class="alert alert-error">
                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                <p>You have been logged out</p>
            </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">E-mail:</label>
                    <div class="col-8">
                        <input type="email" name="email" class="form-control"
                               required minlength="2" maxlength="30" placeholder="E-mail..."/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Password:</label>
                    <div class="col-8">
                        <input type="password" name="password" class="form-control"
                               required minlength="6" maxlength="30" placeholder="Password..."/>
                    </div>
                </div>
                <div class="row m-1 bread-crumbs">&nbsp;</div>
                <div>
                    <button type="submit" class="btn btn-success">Log In</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

</body>
</html>