<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Payment failure</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" sec:authorize="isAuthenticated()">
            <a class="nav-item nav-link active" th:href="@{/customers}">All Customers</a>
            <a class="nav-item nav-link active" th:href="@{/logout}">Logout</a>
        </div>
        <div class="navbar-nav" sec:authorize="isAnonymous()">
            <a class="nav-item nav-link active" th:href="@{/register}">Register</a>
            <a class="nav-item nav-link active" th:href="@{/login}">Login</a>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()">Login as <span sec:authentication="name"></span></div>
</nav>

<div class="jumbotron text-center">
    <a href="/show-basket">
        <div>
            <img class="basket-image" src="/img/shopping_cart_icon.jpg" width="110" height="110" alt="" />
        </div>
    </a>
    <a href="/"><h1>Codecool Tech Shop</h1></a>
</div>

<div class="container text-center">
    <h4>Payment failure!</h4>
    <h3><a th:href="@{/}">Back to main page</a></h3>
</div>

</body>
</html>